@import url('./variables.css');

.action-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 35px;
}

.main-container{
  width: 650px;
}

.message{
  color: white;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 5px 0 30px;
}

.number-input{
  height: 50px;
  width: 450px;
  border-radius: 10px;
  border: none;
}

.tittle-text{
  color: white;
  text-align: center;
  font-size: 28px;
  margin: 0;
}

.general-text{
  color: white;
}